<?xml version="1.0"?>
<phpunit
    bootstrap="./bootstrap.php"
    strict="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    colors="false"
    verbose="true"
    >
    <testsuites>
        <testsuite name="SSRSTest">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>../library</includePath>
    </php>
</phpunit>
